<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="canvas"> 
      <h1>Music 158 Final</h1>
        <div id="info"> 
            click anywhere!
            <div id="coords"> 
            </div>
            <div id="time"> 
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src="/js/user-socket.js"></script>
  </body>
</html>
